.navbar
  .container
    a.navbar-brand(href='#') My Blog
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/new') Add Post
